
@font-face {
  font-family: 'iconfont';

  src: url('iconfont.eot?t=1478150136860'); /* IE9*/
  src: url('iconfont.eot?t=1478150136860#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1478150136860') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1478150136860') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1478150136860#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;

  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qbyy:before {
  content: '\e62d';
}

.icon-pingfen:before {
  content: '\f00d1';
}

.icon-xinxi:before {
  content: '\e78b';
}

.icon-jiahao:before {
  content: '\e629';
}

.icon-iconfontzuoye:before {
  content: '\e668';
}

.icon-weiketang:before {
  content: '\e82b';
}

.icon-tianqi:before {
  content: '\e607';
}

.icon-chat:before {
  content: '\e7f1';
}

.icon-riqi:before {
  content: '\e656';
}

.icon-kechengbiao:before {
  content: '\e60e';
}

.icon-jiaoshi:before {
  content: '\e641';
}

.icon-gerenxinxi:before {
  content: '\e667';
}

.icon-39banjichengjiwai:before {
  content: '\e626';
}
