
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1480066621399'); /* IE9*/
  src: url('iconfont.eot?t=1480066621399#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1480066621399') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1480066621399') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1480066621399#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangce:before { content: "\e82d"; }

.icon-xunjian:before { content: "\e638"; }

.icon-xinxi:before { content: "\e64a"; }

.icon-qbyy:before { content: "\e62d"; }

.icon-jiaoshi:before { content: "\e6b6"; }

.icon-pingfen:before { content: "\e67a"; }

.icon-daka:before { content: "\e600"; }

.icon-jiahao:before { content: "\e616"; }

.icon-39banjichengjiwai:before { content: "\e618"; }

.icon-iconfontzuoye:before { content: "\e6eb"; }

.icon-chahao:before { content: "\e672"; }

.icon-tianqi:before { content: "\e60f"; }

.icon-gerenxinxi:before { content: "\e631"; }

.icon-mokuai:before { content: "\e602"; }

.icon-weiketang:before { content: "\e610"; }

.icon-chat:before { content: "\e60d"; }

.icon-riqi:before { content: "\e758"; }

.icon-kaoqin:before { content: "\e606"; }

.icon-kechengbiao:before { content: "\e603"; }

