/* Neutralize styling: 
   Elements we want to clean out entirely: */
html,
body,
form,
fieldset {
  font: 100%/120% Verdana, Arial, Helvetica, sans-serif;

  margin: 0;
  padding: 0;
}
/* Neutralize styling: 
   Elements with a vertical margin: */
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
ul,
ol,
dl,
address {
  /* margin: 1em 0; */
  padding: 0;
}

/* Miscellaneous conveniences: */
form label {
  cursor: pointer;
}
fieldset {
  border: none;
}
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}
